<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Тип файла</th>
            <th>Название</th>
            <th>Размер</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for attach in attachments %}
            <tr>
                <th>{{ loop.index }}</th>
                <th>{{ attach.name|fileType }}</th>
                <td><a href="{{ attach.name|file }}" target="_blank">{{ attach.name }}</a></td>
                <td>{{ attach.size|size }}</td>
                <td class="text-right">
                    <a href="{{ path('app_attachment_remove', {id: attach.id}) }}" class="btn btn-danger remove" title="Удалить">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>