{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ document.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ document.description|nl2br }}4
            <br>
        </div>

        <div class="col-md-12">
            <h3>Файлы</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Тип файла</th>
                        <th>Название</th>
                        <th>Размер</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attach in document.attachments %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <th>{{ attach.name|fileType }}</th>
                            <td><a href="{{ attach.name|file }}" target="_blank">{{ attach.name }}</a></td>
                            <td>{{ attach.size|size }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}