{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ document.title ?: 'Новый документ' }}</h1>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {"attr": {"class": "form-horizontal"}}) }}
                <div class="form-body">
                    <div class="form-group">
                        {{ form_label(form.title, "Заголовок", {"label_attr": {"class": "col-md-2 control-label"}}) }}
                        <div class="col-md-10">
                            {{ form_widget(form.title, {"attr": {"class": "form-control"}}) }}
                            {{ form_errors(form.title) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, 'Описание', {"label_attr": {"class": "col-md-2 control-label"}}) }}
                        <div class="col-md-10">
                            {{ form_widget(form.description, {"attr": {"class": "form-control", "rows": 5}}) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary btn-icon">
                                Сохранить 
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2" id="addFileContainer">
                        <h3>Файлы</h3>
                        <button type="button" id="addFile" data-url="{{ path('app_upload', {id: document.id}) }}" class="btn btn-success">Добавить файл</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2 files">
                        {% include '_files.html.twig' with {attachments: document.attachments} %}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}