{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Документы</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{ path('app_document_add') }}" class="btn btn-success">Добавить</a>
        </div>
        <div class="col-md-12">
            <table class="table table-hover documents">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Заголовок</th>
                        <th>Количество документов</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents if document.authorIp is null %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ document.title }}</td>
                            <td>{{ document.attachments.count }}</td>
                            <td class="text-right">
                                <a href="{{ path('app_document', {id: document.id}) }}" class="btn btn-success" title="Просмотр">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('app_document_edit', {id: document.id}) }}" class="btn btn-primary" title="Удалить">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('app_document_remove', {id: document.id}) }}" class="btn btn-danger remove" title="Удалить">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}